.main-div{
    background-color: #fcfcfc;
    /* background:#f0efef */
}
.small-screen-items{
    display: none;
}
@media only screen and (max-width: 800px) {
    .large-screen-items{
        display: none;
    }
    .small-screen-items{
        display: block;    
  }
}